<!-- Navbar-->
<head>{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark wrapper">
    <div class="container-fluid">
        <div class="card-header">
            <a class="navbar-brand" href="{% url 'home' %}"><h2 class="navbar_text">Home</h2></a>
        </div>

        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
              <li>
                <a class="navbar-brand" href="{% url 'home_calendar' %}"><h2 class="navbar_text">Calendar</h2></a>
              </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h2 class="navbar_text">Music</h2>
              </a>
              <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="dropdown-item" href="{% url 'mixes' %}"><h3 class="navbar_text">Mixes</h3></a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item" href="{% url 'tracks' %}"><h3 class="navbar_text">Tracks</h3></a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h2 class="navbar_text">Events</h2>
              </a>
              <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="dropdown-item" href="{% url 'events-list' %}"><h3 class="navbar_text">Listings</h3></a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item" href="{% url 'past-events-list' %}"><h3 class="navbar_text">Past Events</h3></a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item" href="{% url 'enquiries' %}"><h3 class="navbar_text">Enquiries</h3></a>
                  </li>
              </ul>
            </li>
              <li>
                <a class="navbar-brand" href="{% url 'galleries' %}"> <h2 class="navbar_text">Photos</h2></a>
              </li>
              <li>
                <a class="navbar-brand" href="{% url 'links' %}"><h2 class="navbar_text">Links</h2></a>
              </li>
          </ul>

        </div>
        <div>
            <form align="right" class="d-flex" role="search" method=POST action="{% url 'search-site' %}">

              {% csrf_token %}

              <input class="form-control me-2" type="search" placeholder="Search Site" aria-label="Search" name="searched">
              <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
        </div>

    </div>
</nav>
