<!-- Navbar-->
<head>{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"></head>

<nav class="navbar fixed-top navbar-expand-lg bg-light wrapper">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>

        </div>

        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
              <li>
                <a class="navbar-brand" href="{% url 'home_calendar' %}">Calendar</a>
              </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h6>Music</h6>
              </a>
              <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="dropdown-item" href="{% url 'mixes' %}">Mixes</a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item" href="{% url 'tracks' %}">Tracks</a>
                  </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <h6>Events</h6>
              </a>
              <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="dropdown-item" href="{% url 'events-list' %}">Listings</a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item" href="{% url 'past-events-list' %}">Past Events</a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item" href="{% url 'enquiries' %}">Enquiries</a>
                  </li>
              </ul>
            </li>
              <li>
                <a class="navbar-brand" href="{% url 'galleries' %}">Photos</a>
              </li>
              <li>
                <a class="navbar-brand" href="{% url 'links' %}">Links</a>
              </li>
          </ul>

        </div>
        <div>
            <form align="right" class="d-flex" role="search" method=POST action="{% url 'search-site' %}">

              {% csrf_token %}

              <input class="form-control me-2" type="search" placeholder="Search Site" aria-label="Search" name="searched">
              <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
        </div>

    </div>
</nav>