{% extends 'base.html' %}


<head>
    {% block head %}
        <title>Events</title>
    {% endblock %}
</head>
{% block header %}
  <h1>More Fire Events</h1>
{% endblock %}


{% block content %}
<center>

    <p> Events listed as of {{ current_time }} </p>


    <h4>{{ month }} {{ year }}</h4>
    <br>
    {{ cal|safe }}
    <br>
    {{ month_number }}
    <br>


    <h5>Events This Month</h5>
    {% if event_list_cal %}
        {% for event in event_list_cal %}
            {{ event }} - {{ event.start_dt }}<br>
        {% endfor %}
    {% else %}
        There are no events so far this month!
    {% endif %}

</center>

{% endblock %}
